---
import { Gifts } from '../components/Gifts';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>It’s your flippin’ birthday!</title>
	</head>
	<body class="bg-slate-900 flex flex-col gap-12 min-h-screen py-12">
		<h1 class="text-center text-white font-bold text-6xl">Happy birthday, Kelly!</h1>
		<Gifts client:load />
		<p class="text-center text-white font-bold text-sm">Made with ❤️ by your husband.</p>
	</body>
</html>
