---
import { Gifts } from '../components/Gifts';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>It’s your flippin’ birthday!</title>
	</head>
	<body class="bg-slate-900">
		<h1>It’s your flippin’ birthday!</h1>
		<div class="flex gap-12 items-center content-center w-full h-[400px]">
			<Gifts client:load />
		</div>
	</body>
</html>
